@model IEnumerable<SocialMedia.Models.PostModels.PostListDetail>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Index";
}

@*<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<section class="feeds-page">
    <nav class="feeds-nav">
        <div class="icons">
            <a href="#"><i class="fas fa-home">Home</i></a>
            <a href="#"><i class="fas fa-hastag">Trending</i></a>
            <a href="#"><i class="far fa-bell">Notifications</i></a>
            <a href="#"><i class="far fa-envelope">Messages</i></a>
        </div>
        <div class="search-bar">
            <i class="fas fa-search"></i>
            <input type="text" placeholder="Search Social Media" class="search-bar-input border" />
        </div>
        <div class="user">
            <div class="user-img-wrapper">
                <img src="#" />
            </div>
            <a href="#" class="user-link">@User.Identity.GetUserName()</a>
            <i class="fas fa-chevron-down"></i>
        </div>
    </nav>

    <div class="feeds-content">
        <div class="feeds-header">
            <div class="header-top border">
                <h4>Home</h4>
                <i class="far fa-star"></i>
            </div>
            <div class="header-post border">
                <div class="header-img-wrapper">
                    <img src="#" />
                </div>
                <input type="text" placeholder="What's Happening?" class="border" />
                <i class="far fa-image">Image</i>
                <i class="fas fa-camera"></i>
                <i class="far fa-chart-bar">Post</i>
            </div>
        </div>


        <div class="posts">
            @foreach (var item in Model)
            {
                <div class="post border">
                    <div class="user-avatar">
                        <img src="@Html.DisplayFor(modelItem => item.ImagePath)" />
                    </div>
                    <div class="post-content">
                        <div class="post-user-info">
                            <h4>@User.Identity.GetUserName()</h4>
                            <i class="fas fa-check-circle"></i>
                            <span>
                                @*@if (item.ModifiedUtc != null)
                                    {
                                        Html.DisplayFor(modelItem => item.ModifiedUtc);
                                    }
                                    else
                                    {
                                        Html.DisplayFor(modelItem => item.CreatedUtc);
                                    }*@
                                @Html.DisplayFor(modelItem => item.CreatedUtc)
                            </span>
                        </div>
                        <p class="post-text">
                            @Html.DisplayFor(modelItem => item.PostText)
                        </p>
                        @*<div class="post-img">
                                <img src="@Html.DisplayFor(modelItem => item.ImagePath)" />
                            </div>*@
                        <img src="@Html.DisplayFor(modelItem => item.ImagePath)" class="post-img" />
                        <div class="post-icon">
                            <i class="far fa-comment">Comment</i>
                            <i class="fas fa-retweet">Repost</i>
                            <i class="far fa-heart">Like</i>
                            <i class="fas fa-share">Share</i>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <!-- Sidebar -->

    <div class="side-bar-wrapper">
        <div class="sidebar">
            <div class="sidebar-header border">
                <h2>Account Info</h2>
                <i class="fas fa-times">X</i>
            </div>
            <div class="sidebar-user">
                <div class="sidebar-user-img">
                    <img src="images/UserImage.webp">
                </div>
            </div>
            <div class="sidebar-user-info">
                <h4>@User.Identity.Name</h4>
                <p></p>
            </div>
            <div class="following">
                <p class="following-paragraph">
                    <span>811</span> Following
                </p>
                <p class="following-paragraph">
                    <span>8.8k</span> Followers
                </p>
            </div>
            <div class="sidebar-list-1 border">
                <ul>
                    <li><a href="#"><i class="fas fa-user"></i>Profile</a></li>
                    <li><i class="fa fa-cog"></i>@Html.ActionLink("Settings", "Settings", "Home")</li>
                    <li><i class="fa fa-question-circle"></i>@Html.ActionLink("Help", "Help", "Home")</li>
                </ul>
            </div>
            <div class="sidebar-list-2">
                @using (Html.BeginForm("logoff", "account", FormMethod.Post, new { id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()
                    <ul>
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log Off</a></li>
                    </ul>
                }
            </div>
        </div>
    </div>

    <!-- End of Sidbar -->
    <!-- Javascript -->

    <script>
        const user = document.querySelector(".user");
        const sidebar = document.querySelector(".sidebar");
        const sidebarWrapper = document.querySelector(".sidebar-wrapper");
        const xBtn = document.querySelector(".sidebar-header i");

        user.addEventListener("click", () => {
            sidebar.classList.add("sidebar-display");
            sidebarWrapper.classList.add("sidebar-wrapper-display");
        });

        xBtn.addEventListener("click", () => {
            sidebar.classList.remove("sidebar-display");
            sidebarWrapper.classList.remove("sidebar-wrapper-display");
        });
    </script>

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

</section>

























@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PostId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedUtc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedUtc)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PostId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedUtc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedUtc)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

    </table>*@
