@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<section class="forgot-password-confirmation-page">
    <nav class="forgot-password-nav">
        <ul>
            <li class="brand">
                <i class="fas fa-home"></i>
                @Html.ActionLink("Home", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "home-btn" })
            </li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
        </ul>
    </nav>

    <div class="forgot-password-confirmation">
        <div class="forgot-password-confirmation-content">
            <h2>@ViewBag.Title</h2>
            <h4>Please check your email to reset your password.</h4>
            <footer class="forgot-password-confirmation-footer">
                <p>Ready to Log On? @Html.ActionLink("Click Here", "login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "login-link" })</p>
            </footer>
        </div>
    </div>
</section>


















@*<hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            Please check your email to reset your password.
        </p>
    </div>*@

