@model SocialMedia.WebMVC.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<section class="forgot-password-page">
    <nav class="forgot-password-nav">
        <ul>
            <li class="brand">
                <i class="fas fa-home"></i>
                @Html.ActionLink("Home", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "@home-btn" })
            </li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
        </ul>
    </nav>

    <div class="forgot-password">
        <div class="forgot-password-content">
            <h2>@ViewBag.Title</h2>
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "forgot-password-form", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>@ViewBag.Message</h4>
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Email, new { @class = "forgot-password-info", @placeholder = "Email" })
                </div>
                <button type="submit" class="forgot-password-form-btn">Email Link</button>
                <footer class="forgot-password-footer">
                    <p>Remember your Password? @Html.ActionLink("Log In Now", "login", "Account", routeValues: null, htmlAttributes: new { @class = "login-link" })</p>
                </footer>
            }
        </div>
    </div>
</section>















@*<h2>@ViewBag.Title.</h2>

    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Enter your email.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Email Link" />
            </div>
        </div>
    }*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
